[submodule "external/multibuild"]
	path = external/multibuild
	url = https://github.com/matthew-brett/multibuild.git
[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11.git
