language: python

env:
    global:
        - PLAT=x86_64
        - UNICODE_WIDTH=32

addons:
  apt:
    packages:
    - liblapack-dev

os:
    - linux
    - osx

compiler:
    - gcc
    - clang

services: docker
sudo: required

matrix:
    allow_failures:
        - os: osx
    fast_finish: true
    exclude:
        - os: osx
    include:
        - os: linux
          compiler: clang
          env: MB_PYTHON_VERSION=3.6
        - os: osx
          language: generic
          env: MB_PYTHON_VERSION=2.7
        - os: osx
          language: generic
          env: MB_PYTHON_VERSION=3.4
        - os: osx
          language: generic
          env: MB_PYTHON_VERSION=3.5
        - os: osx
          language: generic
          env: MB_PYTHON_VERSION=3.6
        - os: linux
          compiler: gcc
          env: MB_PYTHON_VERSION=3.6

before_install:
    - unset -f pushd
    - unset -f popd
    - source external/multibuild/common_utils.sh
    - source external/multibuild/travis_steps.sh
    - before_install

install:
    - pip install setuptools setuptools-scm
    - pip install -r requirements.txt
    - git clone --recursive https://github.com/Statoil/libecl.git
    - mkdir libecl/build
    - pushd libecl/build
    - pip install -r ../requirements.txt
    - cmake .. -DBUILD_SHARED_LIBS=ON
               -DPYTHON_EXECUTABLE=`which python`
               -DENABLE_PYTHON=ON
               -DINSTALL_ERT_LEGACY=ON
    - sudo make install
    - export PYTHONPATH=/usr/local/lib/python2.7/dist-packages/:$PYTHONPATH
    - popd

script:
    - mkdir build
    - pushd build
    - cmake .. -DPYTHON_EXECUTABLE=`which python`
    - make
    - ctest --output-on-failure -VV
